.header{
  height: 55px;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:left;

  top: 0;
  right: 0;
  left: 0;
  background-color: #E3F4F4;
  color: black;
  width: 100%;
  margin-bottom: 100px;
  box-shadow: #4e7272;
  
} 
.middle-section{
  text-decoration: none;
  margin-left: 500px;
  }


 .middle-section:hover{
  text-decoration: underline;
  cursor: pointer;
}


.right-section{
  margin-left: 200px;
  
  }

.right-section:hover{
  text-decoration: underline;
  cursor: pointer;
}

.logo{ 
height: 50px;
width: 50px;
margin-left: 5px;
margin-top: 10px;
border-radius: 25px;
margin-bottom: 5px;
} 

p{
  display: inline-block;
}



#table{
  margin-top: 100px;
  justify-content: center;
  display: flex;
  /* width: 500px; */
  align-items: center;
  margin-left: 400px;
  }
  th{
   border: 2px solid black;
    text-align: center;

  }

  td{
    border: 2px solid black;
    text-align: center;
  }

.footer{
    
  
     background-color: #E3F4F4;
     height: 100px;
     position: fixed;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
   
     padding-bottom: 10px;
     bottom: 0;
     right: 0;
     left: 0;
   }
 .right-sectionf{
  margin-left: 80px;
  margin-bottom: 10px;
  text-align: center;
  width: 400PX;
  font-size: 17px;
 
  }

 .social-Media-section{
  margin-left: 240px;
  margin-right: 40px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 18px;
  width: 400px;
  font-size: 12px;
  font-size: 14px;
 
  
 }

 .links{ 
  margin-left:5px;
  margin-right: 25px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
 }



 .icon{
  height: 35px;
  width: 35px;
  margin-left: 30px;
  margin-right: 6px;
  margin-top: 7px;
  background-color: rgb(226, 224, 224);
  border-radius: 19px;
  margin-bottom: 7px;
  display: inline-block;


}

.icon-head{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items:center ;
  padding-bottom: 10px;
  margin-top: 8px;
  font-size: 13px;
}




/* .footer{
  height: 40px;
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items: center;
   background-color: lightgray;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   padding-bottom: 50px;
   padding-top: 50px;
 }

 .right-sectionf{
  
  margin-left: 80px;
  background-color: blue;
  width: 400PX;
 
  }

 .social-Media-section{
  margin-left: 240px;
  margin-right: 40px;
  text-decoration: none;
  width: 400px;
  font-size: 12px;
  background-color: yellow;
  
 }

 

 .icon{
  height: 35px;
  width: 35px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: rgb(226, 224, 224);
  border-radius: 19px;
  margin-bottom: 5px;
  display: inline-block;

}

.icon-head{
 display: flex;
 justify-content: center;
 flex-direction: row;
 align-items:center ;
  padding-bottom: 10px;

} */ 



/* .header{
  height: 55px;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(226, 224, 224);
  color: black;
  width: 100%;
  margin-bottom: 100px;
}  */

/* .middle-section{
  text-decoration: none;
  margin-left: 380px;
  }


 .middle-section:hover{
  text-decoration: underline;
  cursor: pointer;
}


.right-section{
  text-decoration: none;
  margin-left: 200px;
  text-decoration: none;
  }


 .social-Media-section{
  margin-left: 240px;
  margin-right: 40px;
  text-decoration: none;
  width: 400px;
  font-size: 12px;
 
  
 }
.right-section:hover{
  text-decoration: underline;
  cursor: pointer;
}








.logo{ 
height: 50px;
width: 50px;
margin-left: 5px;
margin-top: 10px;
border-radius: 25px;
margin-bottom: 5px;
} 



p{
  display: inline-block;
}












.footer{
  height: 27px;
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items: center;
   background-color: lightgray;
   margin-left: -50px;
   margin-right: -50px;
   padding-bottom: 25px;
   padding-top: 25px;
 }

 .right-sectionf{
  margin-left: 80px;
  margin-bottom: 10px;
  text-align: center;
  width: 400PX;
  font-size: 17px;
 
  }

 .social-Media-section{
  margin-left: 240px;
  margin-right: 40px;
  text-align: center;
 
  margin-bottom: 20px;
  margin-top: 18px;
  width: 400px;
  font-size: 12px;
  font-size: 14px;
  
 }

 .links{ 
  margin-left:5px;
  margin-right: 25px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
 

}

 

 .icon{
  height: 35px;
  width: 35px;
  margin-left: 30px;
  margin-right: 6px;
  margin-top: 7px;
  background-color: rgb(226, 224, 224);
  border-radius: 19px;
  margin-bottom: 7px;
  display: inline-block;

}

.icon-head{
 display: flex;
 justify-content: center;
 flex-direction: row;
 align-items:center ;
 padding-bottom: 10px;
 margin-top: 8px;
 font-size: 13px;
} */







